section{
    margin: 30px 0;
}

label{
    position: absolute;
    top: -15px;
    background: white;
    left: 20px;
    padding: 2.5px;
}

th:hover{
    cursor: pointer;
}

th,td{
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 5px;
}

tr{
    border-bottom: 1px solid #E0E0E0;
}

thead{
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: #F5F5F5;
}

tbody tr{
    font-weight: 500;
    color: #616161;
}

tbody tr:hover{
    color: #304FFE;
    cursor: pointer;
}

i{
    font-size: 22px;
}

.result{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
}

.no-message{
    border-top: 1px solid #E0E0E0;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.icon{
    min-width: 40px;
    padding: 3px 6px 0;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    background-color: #F5F5F5;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}


.message-header{
    padding: 12.5px 15px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
}


.message-header-content > span{
    cursor: pointer;
    padding: 0 7.5px;
}

.messages{
    padding: 12.5px 15px;
    border-bottom: 1px solid #E0E0E0;
}

.messages :hover{
    cursor: pointer;
}

.message-head{
    position: relative;
}

.message-subject span{
    font-size: 18px;
    font-weight: 500;
}

.message-left-icon{
    padding-right: 10px;
    padding-top: 8px;
    float: left;
}

.message-center-body{
    width: 90%;
}

.message-right-date{
    float: right;
}

.mobile-b-r{
    border-right: 2px solid #BDBDBD;
}

.mobileview{
    display: none;
    max-width: 550px;
}


//  Css for DatePicker

.datepicker-input{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 12px 8px;
  }
  
  .datepicker{
    margin: 9px 0 15px;
    width: 97%;
  }

  .datepicker-label{
    font-size: 14px;
    top: -8px;
  }

  @media only screen and (max-width: 992px){
      .webview{
          display: none;
      }

      .mobileview{
          display: block;
      }
  }
  
  